<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="Default" description="Default Sitecore System items.">
					<predicate>
						<include database="master" path="/sitecore/system/Languages" />
						<include database="master" path="/sitecore/system/Tasks" />
						<include database="master" path="/sitecore/system/Workflows" />
						<include database="master" path="/sitecore/system/Settings" />
					</predicate>
					<dataProviderConfiguration enableTransparentSync="true" />
					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
